<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b869f474-0ac6-4dd6-9cca-ff0301a4f30a/resourcegroups/RaceBTAPI20230529230204ResourceGroup/providers/Microsoft.Web/sites/RaceBTAPI20230529230204</ResourceId>
    <ResourceGroup>RaceBTAPI20230529230204ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/b869f474-0ac6-4dd6-9cca-ff0301a4f30a/resourceGroups/RaceBTAPI20230529230204ResourceGroup/providers/Microsoft.ApiManagement/service/RaceBTAPIapi/apis/RaceBTAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://racebtapi20230529230204.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>e29a06c1-a3be-43ed-a367-de68798857a5</ProjectGuid>
    <MSDeployServiceURL>racebtapi20230529230204.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RaceBTAPI20230529230204</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$RaceBTAPI20230529230204</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>